@use '../../assets/styles/utils/mixins.scss' as mix;

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include mix.tablet {
    grid-template-columns: repeat(2, 1fr);
  }

  @include mix.mobile {
    grid-template-columns: 1fr;
  }
}
