@use '../../assets/styles/variables.scss' as var;

.favouritesPage {
  padding: 0 var.$spacing-xl;
  margin-top: var.$spacing-lg;
  color: var(--text-color);

  .title {
    margin-top: var.$spacing-md;
    margin-bottom: var.$spacing-sm;
  }

  .count {
    color: var.$secondary-color;
    margin-bottom: var.$spacing-xl;
  }

  .emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .emptyImage {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 20px;
    }

    .emptyMessage {
      color: var(--secondary-color);
      font-weight: 600;
      font-size: 15px;
    }
  }

  .productsList {
    display: flex;
    flex-wrap: wrap;
    gap: var.$spacing-md;
  }
}
