@use '../../assets/styles/variables.scss' as var;

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var.$spacing-xxl;
  text-align: center;
}

.image {
  max-width: 300px;
  height: auto;
}

.title {
  font-size: 30px;
}
